<footer class="footer">
  <small>
    Symptom Tracker by Symcat
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://symcat.com">Symcat</a></li>
    </ul>
  </nav>
</footer>